@import 'materialize';

// fix margin on everything

html {
  scroll-behavior: smooth;
}

nav {
	background-color: #0facd7;
}

img {
	max-width: 100%;
	height: auto;
}

.navimage {
	max-height: 100%;
	margin-left: 10px;
}

.right {
	margin-right: 15px;
}

.row {
	margin-bottom: 0px;
}

.section {
	// can set a manual height here for all sections
	text-align: center;
	align-items: center;
	margin-left: 5vw;
	margin-right: 5vw;
}

.section1 {
	height: 80vh;
	display: flex;
}

.btn {
	background-color: #0facd7;
}

.section2 {
	@extend .grey, .lighten-3;
}

.section3 {
	text-align: left !important;
	display: flex;
}

.mission {
	margin-left: 10px;
}

.mugshot {
	max-height: 120px;
	width: auto;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.leadership {
	text-align: top !important;
}

.section4 {
	@extend .grey, .lighten-3;
	margin-bottom: 10vh;

}

.footer {
	@extend .black;
	height: 35vh;
	color: white;
	display: flex;
	align-items: center;
}

.footerimg {
	width: auto;
	max-height: 100px;
	margin-left: 10px;
}


