@import 'materialize';

// fix alignment stuff

html {
  scroll-behavior: smooth;
}

nav {
	background-color: #0facd7;
}

img {
	max-width: 100%;
	height: auto;
}

.navimage {
	max-height: 100%;
	margin-left: 10px;
}

.right {
	margin-right: 15px;
}

.row {
	margin-bottom: 0px;
}

.section {
	// can set a manual height here for all sections
	text-align: center;
	align-items: center;
	margin-left: 5vw;
	margin-right: 5vw;
}



// alignment
@media only screen and (min-width: 600px) {
	.section1, .section3 {
		display: flex;
	}

	.section1 {
		height: 80vh !important;
	}
}

.btn {
	background-color: #0facd7;
}

.quotebutton {
	margin-bottom: 10vh;
}

.section2 {
	@extend .blue-grey, .lighten-5;
}

.section3 {
	text-align: left !important;
	padding-top: 40px;
	padding-bottom: 40px;
}

.mission {
	margin-left: 10px;
}

.mugshot {
	max-height: 120px;
	width: auto;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.seemore {
	margin-top: 10px;
	margin-bottom: 10px;
}

.leadership {
	text-align: top !important;
}

.section4 {
	@extend .blue-grey, .lighten-5;
	margin-bottom: 10vh;

}

.footer {
	@extend .blue-grey, .darken-4;
	height: 35vh;
	color: white;
	display: flex;
	align-items: center;
}

.footerimg {
	width: auto;
	max-height: 100px;
	margin-left: 10px;
}

// terms and conditions page, and catalog page
.terms, .faq, .about, .privacy, .catalog, .contact, .team {
	padding-top: 5vh;
	margin-left: 5vw;
	margin-right: 5vw;
	padding-bottom: 5vh;
}

.faq {
	height: 80vh;
}

.catalog {
	text-align: center;
}

.catalogcard {
	margin-bottom: 15px;
	margin-top: 15px;
}

@media only screen and (min-width: 600px) and (max-width: 650px){
	.catalogcard {
		height: 500px;
	}
}

@media only screen and (min-width: 651px) and (max-width: 695px){
	.catalogcard {
		height: 520px;
	}
}

@media only screen and (min-width: 696px) and (max-width: 785px){
	.catalogcard {
		height: 540px;
	}
}

@media only screen and (min-width: 830px) and (max-width: 875px){
	.catalogcard {
		height: 580px;
	}
}

@media only screen and (min-width: 876px) and (max-width: 920px){
	.catalogcard {
		height: 600px;
	}
}

@media only screen and (min-width: 921px) and (max-width: 991px){
	.catalogcard {
		height: 640px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1038px){
	.catalogcard {
		height: 520px;
	}
}

@media only screen and (min-width: 1039px) and (max-width: 1078px){
	.catalogcard {
		height: 530px;
	}
}

@media only screen and (min-width: 1079px) and (max-width: 1115px){
	.catalogcard {
		height: 540px;
	}
}

@media only screen and (min-width: 1116px) and (max-width: 1199px){
	.catalogcard {
		height: 550px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1230px){
	.catalogcard {
		height: 560px;
	}
}

@media only screen and (min-width: 1231px) and (max-width: 1265px){
	.catalogcard {
		height: 570px;
	}
}

@media only screen and (min-width: 1266px) and (max-width: 1295px){
	.catalogcard {
		height: 580px;
	}
}

@media only screen and (min-width: 1296px) and (max-width: 1368px){
	.catalogcard {
		height: 600px;
	}
}

@media only screen and (min-width: 1369px){
	.catalogcard {
		min-height: 610px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 688px){
	.homecard {
		height: 340px;
	}
}

@media only screen and (min-width: 995px) and (max-width: 1115px){
	.homecard {
		height: 300px;
	}
}

@media only screen and (min-width: 1116px) and (max-width: 1212px){
	.homecard {
		height: 320px;
	}
}

@media only screen and (min-width: 1212px) and (max-width: 1285px){
	.homecard {
		height: 340px;
	}
}



